//import google font
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

$color : #ee0404;
$textcolor : #8ea0fe;
$linkcolor : #778dfd;

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    font-family: 'Poppins', sans-serif;
}

.container-fluid{
    width:100%;
}
.bg-banner{
    width:100%;
    height:100vh;
    background-image:url(../images/car.png);
    background-repeat:no-repeat;
    background-position: right bottom;
    background-size:62rem;
}
.container{
    width:1170px;
    margin:0 auto;
}
.head{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding: 60px 0;

    &__logo{
        display:flex;
        align-items: center;
        cursor:pointer;

        img{
            width: 38px;
        }
        h1{
            font-size: 18px;
            font-weight: 700px;
            text-transform: uppercase;
            color: $color;
            margin-left:10px;
        }

    }
    &__menu{
        ul{
            display:flex;
            align-items: center;
            list-style: none;

            li{
                a{
                    display: block;
                    padding: 0 20px;
                    text-decoration: none;
                    font-weight: 500;
                    color:#111;
                    position: relative;
                    z-index:1;
                    transition: .5s;

                    &:hover{
                        color:#fff;
                    }
                    &::before{
                        content: "";
                        position: absolute;
                        top:0;
                        left:0;
                        width:100%;
                        height:100%;
                        background-color: $color;
                        z-index:-1;
                        transition: .5s;
                        transform-origin: right;
                        transform :scaleX(0)
                    }
                    &:hover::before{
                        transition: transform .5s;
                        transform-origin: left;
                        transform: scaleX(1);
                    }
                }
                
            }
        }
    }
}

.page-intro{
    max-width:430px;
    padding-top: 20px;

    &__text{
        padding-left: 50px;

        h4{
            font-size:32px;
            color:$color;
            line-height: 1;
            font-weight: 500;

        }
        h2{
            font-size: 44px;
            color:$textcolor;
            line-height:1;
            text-transform: uppercase;

        }
        h5{
            font-size: 20px;
            color:$color;
            font-weight: 700;
        }
        p{
            color: $textcolor;
            font-size:16px;
            font-weight:300;
            padding-right:20px;
            margin: 30px 0 20px;
        }
        a{
            display: inline-block;
            text-decoration: none;
            font-weight:500;
            padding:18px 40px;
            color: $linkcolor;
            border:1px solid $linkcolor;
            letter-spacing: 1;
            border-radius:5px;
            position: relative;
            transition: .5s;

            &:hover{
                border-color:transparent;
                color:#fff;
            }
            &::before{
                content : "";
                position: absolute;
                top:0;
                left:0;
                width:100%;
                height:100%;
                background:linear-gradient(to right, $color, $textcolor);
                z-index:-1;
                transform-origin:right;
                transform:scaleX(0);
                border-radius: 5px;
            }
            &:hover::before{
                transition: tranform .5s;
                transform-origin:left ;
                transform: scaleX(1);
            }
        }
    }
    &__icon{
        margin-top: 20px;

        img{
            width:38px;
            cursor:pointer;
        }
    }
}